.container.top-level {
  background: url('src/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-body {
  width: 100vw;
  display: grid;
  grid-template-columns: 10vw [col1] 25vw [col2] 50vw [col3] 10vw;
  grid-template-rows: 5vh [row1] 45vh [row2] 40vh [row3] 10vh;
}

#top-bar {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 2px solid #ff9655;
}

#top-logo {
  margin-left: 10%;
  height: 35px;
}

#transfer-panel {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row1;
  grid-row-end: row2;
}

#transaction-panel {
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row1;
  grid-row-end: row3;
}
