.container {
  background: url('src/assets/background.jpg');
  background-repeat: no-repeat;
  border: 0px;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 10% [col1] 30% [col2] 50% [col3] 10%;
  grid-template-rows: 7% [row1];
}

#top-bar {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 2px solid #ff9655;
}

#top-logo {
  margin-left: 10%;
}

#transfer-panel {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row1;
}

#transaction-panel {
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row1;
}
