.container {
  width: 400px;
}

h2 {
  font-family: Kanit;
  font-weight: 300;
  color: white;
  align-self: center;
  margin: 15px 70px;
}

.form-body {
  display: flex;
  background: white;
  justify-content: center;
}

.form-field-heading {
  font-family: Kanit;
  font-weight: 500;
}

input {
  flex-shrink: 0;
  flex-basis: 100%;
  width: 350px;
  background-color: white;
  border-width: 0 0 2px 0;
  border-color: #d6d2ce;
  font-family: Kanit;
  font-size: larger;
  font-weight: 300;
  color: #7b7772;
}

input:focus {
  outline: none;
}

.button-spacer {
  height: 60px;
}

.button-container {
  min-height: 80px;
  text-align: center;
}

button {
  font-family: Kanit;
  font-weight: 300;
  font-size: large;
  width: 70%;
  height: 50px;
  background-color: #ee7033;
  color: white;
  border: none;
  border-radius: 6px;
}
