.transaction-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  overflow: auto;
}

.transaction-list::-webkit-scrollbar {
  width: 0em;
}

.transaction-tile {
  margin: 0px 15px;
  display: grid;
  grid-template-columns: 1% [col1] 15% [col2] 15% [col3] auto [col4] 15%[col5];
}

.bordered-area {
  display: grid;
  grid-column-start: col1;
  grid-column-end: col5;
  grid-template-columns: 15% [col1] 15% [col2] auto [col3] 15% [col4];
  border: 1px solid #cccccc;
  border-left: none;
  font-family: Kanit;
}

.category-code-colour {
  padding: 2px;
}

.date {
  grid-column-end: col1;
  font-weight: 300;
}

.logo {
  grid-column-end: col2;
  height: 100%;
}

.text-detail {
  grid-column-end: col3;
  font-weight: 500;
}

.amount {
  grid-column-end: col4;
  font-size: large;
}

.transaction-type {
  font-weight: 300;
  font-style: normal;
}

.logo {
  filter: grayscale();
}

.transaction-tile:hover .logo {
  filter: none;
}
