body {
  margin: 0px;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  border-radius: 1px;
}

.box-shadow {
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3);
}

.panel-top-bar {
  display: grid;
  grid-template-columns: [col1] 20px [col2] 10% [col3] 80% [col4] 20px;
  background-color: #0c8397;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: Kanit;
  font-weight: 300;
  color: white;
  grid-column-start: col3;
  grid-column-end: col4;
  text-align: center;
  margin: 15px 15%;
}

.icon {
  grid-column-start: col2;
}

@font-face {
  font-family: 'Kanit';
  src: url('src/assets/fonts/extra-light/Kanit-ExtraLight.woff2')
      format('woff2'),
    url('src/assets/fonts/extra-light/Kanit-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('src/assets/fonts/medium/Kanit-Medium.woff2') format('woff2'),
    url('src/assets/fonts/medium/Kanit-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('src/assets/fonts/light/Kanit-Light.woff2') format('woff2'),
    url('src/assets/fonts/light/Kanit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
